%main.container
  = render 'order_steps/status'
  = form_tag(wizard_path, class: 'res-mb-100', id: 'addresses_form', method: :put) do
    .hidden-xs.hidden-sm
      .row
        .col-md-5
          %h3.general-subtitle Billing Address
        .col-md-5.col-md-offset-1
          %h3.general-subtitle Shipping Address
    .row
      .col-md-5.mb-40
        = simple_fields_for :billing_address, @form.billing_address do |billing|
          = render 'partials/address_form', f: billing, kind: :billing, with_submit_btn: false
      .col-md-5.col-md-offset-1.mb-60
        #order_shipping_address{class: (@order.use_billing ? 'hidden' : '')}
          = simple_fields_for :shipping_address, @form.shipping_address, html: { class: (@order.use_billing ? 'hidden' : '')} do |shipping|
            = render 'partials/address_form', f: shipping, kind: :shipping, with_submit_btn: false
        .form-group.checkbox
          %label.checkbox-label
            = check_box_tag :use_billing, true, @order.use_billing, hidden: true, class: 'checkbox-input'
            %span.checkbox-icon
              %i.fa.fa-check
            %span.checkbox-text Use Billing Adress
    .general-text-align.mb-60
      %p.in-gold-500.font-18 Order Summary
      %table.general-summary-table
        %tr
          %td
            %p.font-16 Item Total:
          %td
            %p.font-16= "€#{@order.subtotal}"
        %tr
          %td
            %p.font-16 Order Total:
          %td
            %p.font-16= "€#{@order.total}"
    = submit_tag t('checkout.confirm_step_btn'), class:'btn btn-default center-block mb-20', id: 'addresses-submit-btn'
