%main.container.general-main-wrap
  %h1.mt-0.mb-25 My Orders
  %p.lead.small.mb-10.visible-xs Sort by
  .dropdowns.dropdown.general-order-dropdown
    %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
      = params[:state] ? params[:state].to_s.tr('_', ' ').capitalize : 'All'
      %i.fa.fa-angle-down.dropdown-icon.pull-right
    %ul.dropdown-menu
      %li= link_to 'All', orders_path
      - ShoppyCartus::Order.aasm_states.drop(1).each do |state|
        %li= link_to state.to_s.tr('_', ' ').capitalize, orders_path(state: state)
  .visible-xs
    - @orders.each do |order|
      .general-cart-item.divider-lg-bottom.pt-0
        %table.table
          %tr
            %td.col-half
              %span.in-grey-600 Number
            %td.col-half
              %span.general-order-number= link_to(order.track_number, order_path(order))
          %tr
            %td
              %span.in-grey-600 Completed at
            %td
              %span.in-grey-900.font-16.fw-300= order.created_at.strftime('%Y-%m-%d')
          %tr
            %td
              %span.in-grey-600 Status
            %td
              %span.font-16.in-grey-900.fw-300= order.state.to_s.tr('_', ' ').capitalize
          %tr
            %td
              %span.in-grey-600 Total
            %td
              %strong.font-16= "€#{order.total_price}"
  .hidden-xs.mb-res-50
    %table.table.table-hover
      %thead
        %tr
          %th
            %span.in-grey-600 Number
          %th
            %span.in-grey-600 Completed at
          %th
            %span.in-grey-600 Status
          %th
            %span.in-grey-600 Total
      %tbody
        - @orders.each do |order|
          %tr
            %td
              %span.general-order-number= link_to(order.track_number, order_path(order))
            %td
              %span.in-grey-900.font-16.fw-300= order.created_at.strftime('%Y-%m-%d')
            %td
              %span.font-16.in-grey-900.fw-300= order.state.to_s.tr('_', ' ').capitalize
            %td
              %strong.font-16= "€#{order.total_price}"
